<h1>Real Time Products</h1>
<div id="productList">
    {{#each products}}
    <div>
        <p>Producto: {{title}}</p>
        <p>Precio: {{price}}</p>
        <br>
     </div>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script> 